@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas-Neue/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('../fonts/Bebas-Neue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bebas-Neue/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/Bebas-Neue/BebasNeueBold.woff') format('woff'),
        url('../fonts/Bebas-Neue/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}