@font-face {
    font-family: 'Codec Pro News';
    src: url('../fonts/CodecPro/CodecPro-News.eot');
    src: local('Codec Pro News'), local('CodecPro-News'),
        url('../fonts/CodecPro/CodecPro-News.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('../fonts/CodecPro/CodecPro-News.woff') format('woff'),
        url('../fonts/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}